html,
body {
  height: 100%;
  margin: 0;
  background-color: getColour(grey);
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

p {
  font-size: 0.9em;
  text-align: left;

  &.highlight {
    color: getColour(light-primary);
  }
}

.wrapper {
  flex: 1 0 auto;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  align-items: center;
}

.flex-tablet {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}
